version: '3'
services:
  lmao:
    image: lmaobot
    restart: unless-stopped
    volumes:
      - /home/user/LmaoBot:/root/lmaobot
    environment:
      - BOT_PROD=1
      - OPENAI_API_KEY=...
      - KEKG_URL=...
      - KODI_URL=...
      - KODI_AUTH=...
      - FILES_ROOT=...
